.select {
    margin: 2em 0;
}

.select label {
    display: block;
    margin-bottom: .5em;
    font-weight: bold;
}

.select select {
    padding: .9em;
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    box-sizing: border-box;
}