.container_my-team-position {
    padding: 2em;
    text-align: center;
}

.container_my-team-position > h3 {
    border-bottom: 1px solid;
    display: inline-block;
    padding-bottom: .2em;
}

.my-team-position-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2%;
    max-width: 1220px;
    margin: 0 auto;
}