footer {
    background-color: #000000;
    padding: .5em;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
    width: 70vw;
    font-size: .8em;
    color: #ffffff;
}

.container-footer img {
    height: 1.3rem;
    filter: invert(1);
}

.footer-icons {
    margin-left: 1em;
    color: #ffffff;
}

