.container-player {
    width: 10em;
    max-height: 20em;
    margin-bottom: 2.5em;
    position: relative;
}

.header-player {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
    height: 110px;
}
.header-player img {
    max-width: 120px;
    max-height: 150px;
    border-radius: 30px;
    position: relative;
    bottom: -2em;
}

.footer-player {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: .5em;
    padding-bottom: .5em;
    height: 180px;
}

.footer-player h4 {
    font-size: 1.2em;
    font-weight: bold;
    /* margin-bottom: 1em;
    margin-top: 5em;  */
    margin: 4em .5em 0 .5em; 
    
}

.footer-player h5 {
    font-size: .8em;
    color: #212121;
    font-style: italic;
}

.btn-delete {
    position: absolute;
    right: -10px;
    top: -10px;
    
}