.banner {
    text-align: center;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center; 
}

.banner h2 {
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    padding: .5em;
    border-radius: 10px;
    top: 1rem;
    position: absolute;
    font-size: 1rem;
}
.banner img {
    width: 70%;
    height: 80%;
    position: relative;
}